@import "../variables";

.navbar {
    box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.1);
    height: 50px;
    background: $white;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;

    .inner {
        margin: 0 auto;
        height: 100%;
        padding: 0 $default_p;
        max-width: $default_w;
        display: flex;
        justify-content: space-between;

        .left {
            display: flex;
            align-items: center;

            h2 {
                a {
                    color: $black;
                }
            }
        }

        .right {
            display: flex;

            a {
                display: flex;
                height: 100%;
                align-items: center;
                padding: 0 10px;
                color: $muted;
                transition: .1s ease-in-out;

                &:hover {
                    color: $dark;
                }
            }
        }
    }
}

.navbar_spacer {
    height: 50px;
}