$default_w: 1000px;
$default_p: 20px;

$black: #3f3f3f;
$dark: #292929;
$muted: #8a8a8a;
$border: #a5a5a5;
$white: #fff;

$btnlight: #ccc;
$btnred: rgb(240, 66, 66);
$btngreen: rgb(78, 206, 78);

$primary: #ffdd2d;